<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/search.css" />

    <title>{{title}}</title>
</head>

<body>
    <section>
        <div>
            <span>📌</span><span class="find-title">게임 카탈로그 : {{games|length}}건</span>
        </div>
        
        <hr>

        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>게임</th>
                        <th>태그</th>
                        <th>만료 예정일</th>
                        <th>링크</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    {% for game in games %}
                    <tr>
                        <td>
                            <div class="company">
                                <img src="{{game['psw_cover']}}"/>
                                <span>{{game['game_name']}}</span>
                            </div>
                        </td>
                        <td>
                            {% for game_tag in game['game_tags'] %}
                            <span>{{game_tag}}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <span>{{game['ps_expired']}}</span>
                        </td>
                        <td><a href="{{game['sub_url']}}" class="export" target="_blank">링크</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- // remoteok -->
    </section>
</body>

</html>